    <!-- Footer -->
    <footer class="foot">
        <div class="container" id="foot">
            <div class="container">
                <div class="footer-col col-md-4">
                    <h3>Me ligue!</h3>
                    <strong><p>Oi:(48)84669228</br>
                    Tim:(48)96558242</br>
                    Fixo:(48)36470292</br>
                    Skype: josemariamicoli<p>
                </div>
                <div class="footer-col col-md-4">
                    <h3 align="center">Me encontre na web!</h3>
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/JMMicoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/josemaria.micoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/JoseMariaMicoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/+JoseMicoliMicoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/JoseMicoliMicoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://stackoverflow.com/users/2762643/jose-maria-micoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Freelancer</h3>
                    <p>Esta precissando de um desenvolvedor web de forma freelancer entre em <a href="/contacts/new">contato</a>, estou aberto a novos trabalhos.</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; micoli.net.br 2015 Jose Maria Micoli todos os direitos reservados.
                    </div>
                </div>
            </div>
    </div>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>