    <!-- Footer -->
    <footer class="foot">
        <div class="container" id="foot">
            <div class="container">
                <div class="footer-col col-md-4">
                    <h3>Me ligue!</h3>
                    <p>Oi:(48)84669228</p>
                    <p>Tim:(48)96558242</p>
                    <p>Fixo:(48)36470292</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3 align="center">Me encontre na web!</h3>
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/josemaria.micoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/JoseMariaMicoli">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; micoli.net.br Jose Maria Micoli todos os direitos reservados</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Freelancer</h3>
                    <p>Esta precissando de um desenvolvedor web de forma freelancer entre em <a href="/contacts/new">contato</a>, estou aberto a novos trabalhos.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>